<a href="https://colab.research.google.com/github/git-cat-meow/TIL/blob/master/py_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
from collections import Counter

d = {'key1': 'aaabbbccc', 'key2': 'aaacccddd', 'key3': 'gggaaaccc'}
text = ['aaa', 'bbb', 'ccc']

cols = ['col1', 'col2', 'col3'] # カラムがないとappend時にエラー
df = pd.DataFrame(index=[], columns=cols)

for k, v in d.items(): # keyもvalueも使えるitemsメソッド
    list = [] # 行になるリスト
    for i in text:
        list.append(v.count(i)) # リストに合致する文字列の数を追加する
    # print(list)
    df.loc[k] = list # keyをインデックスにしてリストを追加
display(df)

     col1 col2 col3
key1    1    1    1
key2    1    0    1
key3    1    0    1